<div class="container">
<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |rental|}}
  {{!-- left rental = component rental; right rental = rental from each --}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}

{{#link-to 'announcements'}}See Announcements{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
</div>
